<% if @recipe.errors.any? %>
  <%= pluralize(@recipe.errors.count, 'error') %> prevented your form from success.
  <ul class="mdl-list">
    <% @recipe.errors.full_messages.each do |msg| %>
      <li class="mdl-list__item"><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @recipe do |f| %>

<div class="mdl-textfield mdl-js-textfield <%= 'is-invalid' if @recipe.errors[:name].any? %>">
  <%= f.text_field :name, class: "mdl-textfield__input" %>
  <% if @recipe.errors[:name].any? %>
    <span class="mdl-textfield__error">* <%= @recipe.errors[:name].join(", ") %> </span>
  <% end %>

  <%= f.label :name, class: "mdl-textfield__label" %>
</div>

<div class="mdl-textfield mdl-js-textfield <%= 'is-invalid' if @recipe.errors[:description].any? %>">
  <%= f.text_area :description, class: "mdl-textfield__input" %>
  <% if @recipe.errors[:description].any? %>
    <span class="mdl-textfield__error">* <%= @recipe.errors[:description].join(", ") %> </span>
  <% end %>

  <%= f.label :description, class: "mdl-textfield__label" %>
</div>

<div class="mdl-textfield mdl-js-textfield <%= 'is-invalid' if @recipe.errors[:ingredients].any? %>">
  <%= f.text_area :ingredients, class: "mdl-textfield__input" %>
  <% if @recipe.errors[:ingredients].any? %>
    <span class="mdl-textfield__error">* <%= @recipe.errors[:ingredients].join(", ") %> </span>
  <% end %>
  <%= f.label :ingredients, class: "mdl-textfield__label" %>
</div>

<div class="mdl-textfield mdl-js-textfield <%= 'is-invalid' if @recipe.errors[:method].any? %>">
  <%= f.text_area :method, class: "mdl-textfield__input" %>
  <%= f.label :method, class: "mdl-textfield__label" %>
  <% if @recipe.errors[:method].any? %>
    <span class="mdl-textfield__error">* <%= @recipe.errors[:method].join(", ") %> </span>
  <% end %>
</div>

<div class="mdl-textfield mdl-js-textfield">
  <%= f.attachment_field :photo, class: "" %>
  <% if @recipe.errors[:photo].any? %>
    <span class="mdl-textfield__error">* <%= @recipe.errors[:photo].join(", ") %> </span>
  <% end %>
  <%= f.label :photo, class: "" %>
</div>

<div>
  <%= f.submit class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
</div>

<% end %>
